@import '../../../styles/customMediaQueries.css';

.root {
  composes: marketplaceModalFormRootStyles from global;

  justify-content: flex-start;

  @media (--viewportMedium) {
    justify-content: space-between;
  }
}

.name {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;

  @media (--viewportMedium) {
    margin-top: 32px;
  }
}

.firstNameRoot {
  width: calc(44% - 9px);
}

.lastNameRoot {
  width: calc(56% - 9px);
}

.password {
  composes: marketplaceModalPasswordMargins from global;
}

.bottomWrapper {
  composes: marketplaceModalBottomWrapper from global;
  margin-top: 40px;
  & button{
    background-color: var(--marketplaceColor);
    &:hover{
      background-color: var(--marketplaceColor);
    }
  }
}

.field{
  margin-bottom: 32px;
}

.checkboxWrapper {
  display: flex;
  flex-wrap: wrap;
}

.checkBox {
  width: 50%;
  margin-bottom: 23px;
}

.labelTitle {
  color: #4a4a4a;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 153.846% */
  letter-spacing: -0.305px;
  margin: 33px 0 14px;
}
.inputBox {
  margin-bottom: 24px;
}


.inputField{
  margin-top: -10px;
}