@import '../../../../styles/customMediaQueries.css';

.root {
  /* Dimensions */
  width: 100%;
  height: auto;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;

  @media (--viewportMedium) {
    padding-top: 2px;
  }
}

.error {
  color: var(--colorFail);
}

.input {
  flex-shrink: 0;
  width: 100%;
  margin-bottom: 24px;

  @media (--viewportMedium) {
    margin-bottom: 32px;
  }
}

.unitTypeHidden {
  display: none;
}

.submitButton {
  margin-top: auto;
  margin-bottom: 24px;
  color: var(--White, #FFF);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.267px;
  text-transform: uppercase;
  @media (--viewportLarge) {
    display: inline-block;
    width: 241px;
    margin-top: 48px;
    height: 64px;
    border-radius: 0;
  }
}

.fieldsWrapper {
  display: flex;
  gap: 22px;
  margin-bottom: 29px;
  & > div {
    flex: 1;
  }
}

.fieldsWrapperWithBtn {
  display: flex;
  gap: 22px;
  padding-right: 5px;
  & .inputBox {
    flex: 1;
  }
  & .addValue {
    display: flex;
    align-items: center;
    margin-top: 26px;
    cursor: pointer;
    width: 35px;
  }
}

.lineItem{
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
  margin-right: 10px;
  & div{
    & svg{
      margin-right: 10px;
    }
  }
  & .tagClose{
    & svg{
      fill: transparent;
    }
  }
}

.checkbox{
  margin-top: 18px;
}