@import '../../../../styles/customMediaQueries.css';

.root {
  /* Dimensions */
  width: 100%;
  height: auto;

  /* Display format */
  display: flex;
  flex: 1;
  flex-direction: column;

  @media (--viewportMedium) {
    padding-top: 2px;
  }
}

.error {
  color: var(--colorFail);
}

.locationAutocompleteInput {
}

.locationAutocompleteInputIcon {
  display: none;
}

.predictionsRoot {
  position: absolute;
  width: 100%;
  top: 36px;
  left: 0;
  background-color: var(--marketplaceColor);
  border-bottom-left-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
  box-shadow: var(--boxShadowPopup);
  z-index: calc(var(--zIndexPopup) + 1);

  @media (--viewportMedium) {
    top: 40px;
  }
}

.validLocation {
}

.locationAddress,
.building {
  flex-shrink: 0;
  margin-bottom: 24px;

  @media (--viewportMedium) {
    margin-bottom: 32px;
  }
}

.submitButton {
  margin-top: auto;
  margin-bottom: 24px;

  @media (--viewportLarge) {
    display: inline-block;
    width: 241px;
    margin-top: 15px;
    height: 64px;
    border-radius: 0;
  }
}

.nameContainer {
  display: flex;
  flex-direction: row;

  gap: 22px;
  margin-bottom: 32px;
  & .firstName {
    width: 50%;
  }
  & .quantityField {
    flex: 1;
  }
  & > div {
  }
}

.removeBoxFirst {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  & button {
    border: 0;
    cursor: pointer;
  }
}

.addButton {
  margin-left: auto;
  width: max-content;
  color: var(--Hot-Pink, #fd0578);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 177.778% */
  letter-spacing: -1px;
  text-decoration-line: underline;
  text-transform: capitalize;
  cursor: pointer;
}

.fieldsWrapper{
  display: flex;
  gap: 22px;
  margin-bottom: 29px;
  & > div{
    flex: 1;
  }
}