@import '../../../styles/customMediaQueries.css';

.root {
  composes: marketplaceModalFormRootStyles from global;
}

.email {
  margin-top: 37px;

  @media (--viewportMedium) {
    margin-top: 23px;
  }
}

.bottomWrapper {
  composes: marketplaceModalBottomWrapper from global;
  margin-top: 52px;
  & button {
    background-color: var(--marketplaceColor);
    &:hover {
      background-color: var(--marketplaceColor);
    }
  }
}

/* Adjust the bottomWrapper's margin to match modals without the helper text */
.bottomWrapperText {
  composes: marketplaceModalBottomWrapperText from global;
  margin-top: 17px;
  & span {
    color: #4a4a4a;
  }
  & a {
    & span {
      color: var(--marketplaceColor);
      font-weight: 500;
    }
  }
}

/* Helper links */
.modalHelperLink {
  composes: marketplaceModalHelperLink from global;
}

/* Helper texts for the links, not the actual links */
.modalHelperText {
  composes: marketplaceModalHelperText from global;
}
